.centered-and-cropped {
    object-fit: cover;
}

body {
    background-image: url("white_background.jpg");
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.container img {width:300; height:300;}
	.gif img {width:300; height:300;}

	

/* Styles */
}}
